.ontop-template__table {
    .dot {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 10px;
        border-radius: 100%;
    }
    .mat-table {
        .mat-column-avatar {
            padding-left: 0;
            min-height: auto;
            max-width: 60px;
        }
        .mat-column-action {
            min-height: auto;
            max-width: 60px;
            align-items: center;
            justify-content: end;
            i {
                font-size: 30px;
                color:  #C4C4C4;
            }
        }
    }
    &-status {
        border-radius: 20px;
        width: 100%;
        max-width: 180px;
        padding: 5px 10px 5px 20px;
        display: flex;
        align-items: center;    
        &_0 {
            background: rgba(54, 207, 130, 0.18);
            color: #36CF82;
            .dot {
                background: #36CF82;
            }
        }
        &_1 {
            background: rgba(242, 157, 66, 0.3);
            color: #F29D42;
            .dot {
                background: #F29D42;
            }
        }
    }
}
