@import "~bootstrap/dist/css/bootstrap.css";
@import "styles/fonts", "styles/icons", "styles/forms", "styles/table", "styles/material";

body {
  background: #f9f9f9;
}

* {
  font-family: Aileron;
  font-style: normal;
}

.ontop-template_all-title {
  font-weight: bold;
  font-size: 32px;
  color: #000;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.ontop-chat__button {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: 10ms;
  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}
html,
body {
  height: 100%;
}
